name: Trigger QA Practice workflow

on:
  push:
    branches:
      - main

jobs:
  trigger-qa-workflow:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger remote workflow (workflow_dispatch)
        env:
          TARGET_OWNER: gonzalrj
          TARGET_REPO: qa-practice-swaglabs
          TARGET_WORKFLOW_FILE: manual-regression-sharded.yml
        run: |
          curl -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.TRIGGER_PAT }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/$TARGET_OWNER/$TARGET_REPO/actions/workflows/$TARGET_WORKFLOW_FILE/dispatches \
            -d '{"ref":"main"}'
